<div class="hero">
    <nav>
      <label class="pharhelp">+PharHelp</label>
      <ul>
        <li><a class="home" routerLink="" matTooltip="Home-page" >Home</a></li> 
        <li><a class="about" routerLink="../aboutus"  matTooltip="Info about the +PharHelp" >About-Us</a></li>       
        <li><a class="signin" routerLink="../login" matTooltip="Sign-in">Sign-in</a></li>    
        <li><a class="signup" routerLink="../signup" matTooltip="Sign-up to register">Sign-up</a></li>
      </ul>
    </nav>
<div class="registerpage">
  <p class="image1" style="font-size: 30px;position: relative;top:150px;left:45px;width: 90%"> Your Account is Registered Successfully.

    <img src="https://th.bing.com/th/id/OIP.vwOzb1HbYW5H3JE4IH68qQHaHa?pid=ImgDet&w=512&h=512&rs=1"  width="100" height="100" style="position:relative;top:-150px;left:220px;text-align: center;"></p>
</div>
</div>
