

    
        <div class="hero">
          <nav>
            <label class="pharhelp">+PharHelp</label>
            <ul>
              <li><a class="about" routerLink="../aboutus"  matTooltip="Info about the +PharHelp" >About-Us</a></li>       
              <li><a class="signin" routerLink="../login" matTooltip="Sign-in">Sign-in</a></li>    
              <li><a class="signup" routerLink="../signup" matTooltip="Sign-up to register">Sign-up</a></li>
            </ul>
          </nav>
      
          <h1>Medical <br> <br> Appointments</h1>
        </div>
      
