<div class="container">
  <p class="image1" style="font-size: 30px;position: relative;top:150px;left:290px;width: 70%"> Your Appointment is Booked Successfully.

    <img src="https://www.jeamour.com/static/images/loader/success-min.gif"  width="100" height="100" style="position:relative;top:-90px;left:-350px;"></p>

    <a class= "home" style="font-size: 20px;text-decoration: none;position: relative;top:150px;left:440px;" routerLink="/userdaseboard">Home</a>
    <a class= "home" style="font-size: 20px;text-decoration: none;position: relative;top:150px;left:520px;" routerLink="../bookinghistory">Booking History</a>
</div>
