<div class="container">
  <p class="image1" style="font-size: 30px;position: relative;top:150px;left:290px;width: 70%"> Your Appointment is Booked Successfully.

    <img src="https://th.bing.com/th/id/OIP.vwOzb1HbYW5H3JE4IH68qQHaHa?pid=ImgDet&w=512&h=512&rs=1"  width="100" height="100" style="position:relative;top:-90px;left:-350px;"></p>

    <a class= "home" style="font-size: 20px;text-decoration: none;position: relative;top:150px;left:440px;" routerLink="/userdaseboard">Home</a>
    <a class= "home" style="font-size: 20px;text-decoration: none;position: relative;top:150px;left:520px;" routerLink="../bookinghistory">Booking History</a>
</div>
