*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
  }
  .hero{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    background-size: 100%;
    padding:0 8%;
  }
  label{
    font-size: 40px;
    color: black;
    font-weight: bold;
    position: relative;
    top: 20px;
    right:70px;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul{
    float: right;
  }
  
  nav ul li{
    display: inline-block;
  }
  nav ul li a{
    margin: 0 10px;
    position: relative;
    top: 20px;
    color: black;
    left:50px;
    font-weight: bold;
    font-size: 20px;
  }
  
  h1{
    position: relative;
    top:250px;
    font-size: 70px;
    color:black;
    left:-50px; 
  }
  
  a.active,a:hover{
    background-color: rgb(218, 218, 230);
    border-radius: 0.5rem;
    text-decoration: none;
  }
  
span{
  width:50px;
  height: 50px;;
}
.button{
  height: 40px;
  border-radius: 10px;
  border: 0px solid;
}

.button1{
  height: 40px;
  border-radius: 10px;
  border: 0px solid;
  
}

.button:hover{
  box-shadow: 2px 2px 5px #555;
   background-color:#7799d4;
}

.button1:hover{
  box-shadow: 2px 2px 5px #555;
   background-color:#7799d4;
}

