<div class="right">
    <div class="container">
      <div class="header">
      <h1 style="color: black;font-weight: bold;font-style: arial;position: relative;text-align: center;top: 15px;">Reset-Password</h1>
   </div>
   <div class="main">
   
   <form>
   <span>
   <input type="text" name="userName" id="userName" placeholder="Username" style="position: relative;left:6px;"required>
   <i class="bi bi-person-circle" style="position: relative;left:-20px;"></i>
   </span>
   <span>
    <input type="password"  name="userPassword" id="userPassword" placeholder="Old-Password" required>
    </span>
   <br>
   <span>
   <input type="password"  name="userPassword" id="userPassword" placeholder="New-Password" required>
   </span>
   <span>
      <input type="password"  name="userPassword" id="userPassword" placeholder="Retype-Password" required>
      </span>
   <span><input type="submit"value="Submit" routerLink="/userdaseboard/resetpage"></span>
   </form>
   </div>
    </div>
</div>
