.container{
    width:360px;
    height:360px;
    margin:auto;
    border-radius:20px;
    background-color:rgba(0,0,0,0.1);
    position:relative;
    top:85px;
    }
    .header h1{
    color: white;
    font-size:25px;
    margin-bottom: 80px;
    }
    .main{
    text-align: center;
    }
    .main input,button{
    width:300px;
    height:40px;
    border: none;
    outline: none;
    padding-left:5px;
    box-sizing:border-box;
    font-size:15px;
    margin-bottom:20px;
    border-radius:10px;
    }
    .main button{
    background-color:#181b20;
    Letter-spacing: 1px;
    font-weight: bold;
    color:white;
    position: relative;
    top:-50px;
    }
    .main button:hover{
    box-shadow: 2px 2px 5px #555;
    background-color:#7799d4;
    }
    .main input:hover{
    box-shadow: 2px 2px 5px #555;
    }
    
    .main span{
    position:relative;
    top:-50px;
    }
 
    .sign{
        position: relative;
        top:-50px;
        left:-5px;
    }