<div class="login">
    <div class="hero">
        <nav>
          <label class="pharhelp">+PharHelp</label>
          <ul>
            <li><a class="Home"routerLink=""matTooltip="Home-page">Home</a></li>       
            <li><a class="about"routerLink="../aboutus"matTooltip="Info about the +PharHelp">About-Us</a></li>       
            <li><a class="signup" routerLink="../signup"matTooltip="Sign-up to register">Sign-up</a></li>
          </ul>
        </nav>
      </div>
      <div class="signin">
        <div  class="left" >
        </div>
        <div class="right">
          <div class="container">
            <div class="header">
            <h1 style="color: black;font-weight: bold;font-style: arial;position: relative">Forgot-Password</h1>
         </div>
         <div class="main">
         
         <form>
         <span>
         <input type="email" name="email" id="email" placeholder="Email" style="position: relative;left:6px;top: -10px;;"required>
         <i class="bi bi-envelope-fill" style="position: relative;left:-20px;top:-8px;"></i>
         </span>
         <span><input type="submit"value="Get Password" class="password" style="width:80px;height:30px;font-size:11px;position:relative;top:-20px;left:108px;border-radius: 7px;background-color: black;color: white;"></span>
         <span>
          <input type="password"  name="userPassword" id="userPassword" class="type2" style="position:relative;top:-30px;" placeholder="Old-Password" required>
          </span>
         <span>
         <input type="password"  name="userPassword" id="userPassword" class="type3" style="position:relative;top:-40px;" placeholder="New-Password" required>
         </span>
         <span>
            <input type="password"  name="userPassword" id="userPassword" class="type4" style="position:relative;top:-50px;" placeholder="Retype-Password" required>
            </span>
         <span><input type="submit" value="Submit" class="type5" style="position:relative;top:-50px;" routerLink="../forgetpage" ></span>
         </form>
         </div>
         </div>
        </div>
      </div>
    </div>
   
