<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row" style="height:500px;">
        <div class="col-lg-4">
          <div class="card mb-4" style="height:500px;">
            <div class="card-body text-center">
              <img src="https://th.bing.com/th/id/OIP.KCRJ_lo3SlaxaKd6rQwujwHaHa?pid=ImgDet&rs=1" alt="avatar"
                class="rounded-circle img-fluid" style="width: 200px;">
                <br>
                <br>
                <span> 
                    <input style="border:0px;text-align: center;" type="text" name="userName" id="userName" placeholder={{profileData.userName}} required>
                    </span>
              <br>
              <br>
              <div class="d-flex justify-content-center mb-2">
                <img src="https://th.bing.com/th/id/OIP.RGfjPsp00XmqI7oes3yeYQHaHa?pid=ImgDet&rs=1" class="image1" style="width: 27px;position: relative;left:0px;top:-6px;" routerLink="../resetpassword">

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4" style="height:500px;">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3" style="height: 40px; position: relative;top:10px;">
                  <p class="mb-0">First Name</p>
                </div>
                <div class="col-sm-9" style="height: 40px; position: relative;top:10px;">
                    <span>
                        <input style="border:0px;" type="text" name="userFirstName" id="userFirstName" placeholder={{profileData.userFirstName}} required>
                        </span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3" style="height: 40px; position: relative;top:10px;">
                  <p class="mb-0">Last Name</p>
                </div>
                <div class="col-sm-9" style="height: 40px; position: relative;top:10px;">
                    <span>
                        <input style="border:0px;" type="text" name="userLastName" id="userLastName" placeholder={{profileData.userLastName}} required>
                        </span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3" style="height: 40px; position: relative;top:10px;">
                  <p class="mb-0">Username</p>
                </div>
                <div class="col-sm-9" style="height: 40px; position: relative;top:10px;">
                    <span>
                        <input style="border:0px;" type="text" name="userName" id="userName" placeholder={{profileData.userName}} required>
                        </span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3" style="height: 40px; position: relative;top:10px;">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9" style="height: 40px; position: relative;top:10px;">
                    <span>
                        <input style="border:0px;width:300px;" type="email" name="email" id="email" placeholder={{profileData.email}} required>
                        </span>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
