
<table class="table">
    <thead>
      <tr>
        <th scope="col">Hospital Name</th>
        <th scope="col">Doctor Name</th>
        <th scope="col">Location</th>
        <th scope="col">Booked Date</th>
        <th scope="col">Booked Timing</th>
        <th scope="col">Booked Slots</th>
     
      
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ad of doctoravailability">
          
          <td>{{ad.hname}}</td>
          <td>{{ad.doctorname}}</td>
          <td>{{ad.location}}</td>
          <td>{{ad.appointment}}</td>
          <td>{{ad.time}}</td>
          <td>{{ad.slots}}</td>
         
       
        </tr>
        
      </tbody>
</table>
