<div class="container">
    <p class="image1" style="font-size: 30px;position: relative;top:150px;left:330px;width: 70%"> Your Password is Reseted Successfully.
  
      <img src="https://www.jeamour.com/static/images/loader/success-min.gif"  width="100" height="100" style="position:relative;top:-90px;left:-340px;"></p>
  
      <a class= "home" style="font-size: 20px;text-decoration: none;position: relative;top:150px;left:460px;" routerLink="/userdaseboard">Home</a>
      <a class= "home" style="font-size: 20px;text-decoration: none;position: relative;top:150px;left:560px;" routerLink="/userdaseboard/userprofile">User Profile</a>
  </div>
